### Importação dos dados

In [28]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

loja = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

loja.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

##*Criação de dataframe por lojas*

#1. Análise do faturamento

In [29]:
print(type(loja))  # Isso mostrará se `loja` é um DataFrame ou uma string

<class 'pandas.core.frame.DataFrame'>

###Faturamento total por loja

In [ ]:
# Criando um dicionário com os faturamentos
faturamento_por_loja = {
    "Loja 1": loja["Preço"].sum(),
    "Loja 2": loja2["Preço"].sum(),
    "Loja 3": loja3["Preço"].sum(),
    "Loja 4": loja4["Preço"].sum(),
}

# Exibir os resultados formatados
print("Faturamento por Loja:")
for nome_loja, faturamento in faturamento_por_loja.items():
    print(f"{nome_loja}: R${f'{faturamento:,.2f}'.replace(',', 'X').replace('.', ',').replace('X', '.')}")

Faturamento por Loja:
Loja 1: R$1.534.509,12
Loja 2: R$1.488.459,06
Loja 3: R$1.464.025,03
Loja 4: R$1.384.497,58

###Faturamento médio por venda

In [ ]:
faturamento_medio_por_loja = {
    "Loja 1": loja["Preço"].sum() / len(loja),
    "Loja 2": loja2["Preço"].sum() / len(loja2),
    "Loja 3": loja3["Preço"].sum() / len(loja3),
    "Loja 4": loja4["Preço"].sum() / len(loja4),
}

print("Faturamento Médio por Loja:")
for nome_loja, faturamento_medio in faturamento_medio_por_loja.items():
    print(f"{nome_loja}: R$ {f'{faturamento_medio:,.2f}'.replace(',', 'X').replace('.', ',').replace('X', '.')}")

Faturamento Médio por Loja:
Loja 1: R$ 650,49
Loja 2: R$ 630,97
Loja 3: R$ 620,61
Loja 4: R$ 587,15

###Custo frete por loja

In [ ]:
# Somando o frete total por loja
custo_frete_por_loja = {
    "Loja 1": loja["Frete"].sum(),
    "Loja 2": loja2["Frete"].sum(),
    "Loja 3": loja3["Frete"].sum(),
    "Loja 4": loja4["Frete"].sum(),
}

# Exibir os custos de frete por loja
print("Custo total de frete por loja:")
for nome_loja, custo_frete in custo_frete_por_loja.items():
    print(f"{nome_loja}: R${f'{custo_frete:,.2f}'.replace(',', 'X').replace('.', ',').replace('X', '.')}")

Custo total de frete por loja:
Loja 1: R$81.837,97
Loja 2: R$79.314,16
Loja 3: R$78.022,66
Loja 4: R$73.755,88

###Margem de lucro por loja

In [ ]:
# Criando a função para calcular a margem de lucro
def calcular_margem_lucro(preco, frete):
    return (preco - frete) / preco * 100

# Aplicando a função para calcular a margem de lucro por loja
margem_lucro_por_loja = {
    "Loja 1": calcular_margem_lucro(loja["Preço"].sum(), loja["Frete"].sum()),
    "Loja 2": calcular_margem_lucro(loja2["Preço"].sum(), loja2["Frete"].sum()),
    "Loja 3": calcular_margem_lucro(loja3["Preço"].sum(), loja3["Frete"].sum()),
    "Loja 4": calcular_margem_lucro(loja4["Preço"].sum(), loja4["Frete"].sum()),
}

# Exibindo os resultados formatados
print("Margem de Lucro por Loja:")
for nome_loja, margem_lucro in margem_lucro_por_loja.items():
    print(f"{nome_loja}: {margem_lucro:.2f}%")

Margem de Lucro por Loja:
Loja 1: 94.67%
Loja 2: 94.67%
Loja 3: 94.67%
Loja 4: 94.67%

In [ ]:
print(faturamento_por_loja)
print(custo_frete_por_loja)

{'Loja 1': np.float64(1534509.12), 'Loja 2': np.float64(1488459.06), 'Loja 3': np.float64(1464025.03), 'Loja 4': np.float64(1384497.58)}
{'Loja 1': np.float64(81837.9677956916), 'Loja 2': np.float64(79314.1580126449), 'Loja 3': np.float64(78022.66122264302), 'Loja 4': np.float64(73755.87511898279)}

###Margem de lucro considerando o frete

In [ ]:
# Calculando a margem de lucro considerando o frete
margem_lucro_por_loja = {
    "Loja 1": calcular_margem_lucro(faturamento_por_loja["Loja 1"], custo_frete_por_loja["Loja 1"]),
    "Loja 2": calcular_margem_lucro(faturamento_por_loja["Loja 2"], custo_frete_por_loja["Loja 2"]),
    "Loja 3": calcular_margem_lucro(faturamento_por_loja["Loja 3"], custo_frete_por_loja["Loja 3"]),
    "Loja 4": calcular_margem_lucro(faturamento_por_loja["Loja 4"], custo_frete_por_loja["Loja 4"]),
}

print("Margem de Lucro considerando Frete por Loja:")
for loja, margem in margem_lucro_por_loja.items():
    print(f"{loja}: {margem:.2f}%")

Margem de Lucro considerando Frete por Loja:
Loja 1: 94.67%
Loja 2: 94.67%
Loja 3: 94.67%
Loja 4: 94.67%

# 2. Vendas por Categoria

###Quantidade venda por categoria

In [32]:
vendas_por_categoria = loja.groupby("Categoria do Produto")["Produto"].count()
print("Quantidade de vendas por categoria:")
print(vendas_por_categoria)

Quantidade de vendas por categoria:
Categoria do Produto
brinquedos               324
eletrodomesticos         312
eletronicos              448
esporte e lazer          284
instrumentos musicais    182
livros                   173
moveis                   465
utilidades domesticas    171
Name: Produto, dtype: int64

###Faturamento total por categoria

In [33]:
faturamento_por_categoria = loja.groupby("Categoria do Produto")["Preço"].sum()
print("Faturamento por categoria:")
print(faturamento_por_categoria)

Faturamento por categoria:
Categoria do Produto
brinquedos                23993.78
eletrodomesticos         484913.36
eletronicos              572659.23
esporte e lazer           52387.55
instrumentos musicais    121731.69
livros                    11713.92
moveis                   250178.11
utilidades domesticas     16931.48
Name: Preço, dtype: float64

###Margem lucro por categoria

In [34]:
df_categoria = pd.DataFrame({
    "Faturamento": faturamento_por_categoria,
    "Frete Total": loja.groupby("Categoria do Produto")["Frete"].sum()
})

df_categoria["Lucro Líquido"] = df_categoria["Faturamento"] - df_categoria["Frete Total"]
df_categoria["Margem (%)"] = (df_categoria["Lucro Líquido"] / df_categoria["Faturamento"]) * 100

print("Margem de Lucro por Categoria:")
print(df_categoria)

Margem de Lucro por Categoria:
                       Faturamento   Frete Total  Lucro Líquido  Margem (%)
Categoria do Produto
brinquedos                23993.78   1305.485959   22688.294041   94.559065
eletrodomesticos         484913.36  25764.960571  459148.399429   94.686688
eletronicos              572659.23  30619.008660  542040.221340   94.653189
esporte e lazer           52387.55   2829.107567   49558.442433   94.599657
instrumentos musicais    121731.69   6511.805861  115219.884139   94.650690
livros                    11713.92    622.490244   11091.429756   94.685893
moveis                   250178.11  13327.207336  236850.902664   94.672912
utilidades domesticas     16931.48    857.901598   16073.578402   94.933097

In [31]:
print(type(loja))

<class 'pandas.core.frame.DataFrame'>

# 3. Média de Avaliação das Lojas

In [35]:
media_avaliacao_por_loja = {
    "Loja 1": loja["Avaliação da compra"].mean(),
    "Loja 2": loja2["Avaliação da compra"].mean(),
    "Loja 3": loja3["Avaliação da compra"].mean(),
    "Loja 4": loja4["Avaliação da compra"].mean(),
}

print("Média de Avaliação por Loja:")
for nome_loja, media_avaliacao in media_avaliacao_por_loja.items():
    print(f"{nome_loja}: {media_avaliacao:.2f}")

Média de Avaliação por Loja:
Loja 1: 3.98
Loja 2: 4.04
Loja 3: 4.05
Loja 4: 4.00

# 4. Produtos Mais e Menos Vendidos

In [36]:
produtos_mais_vendidos = loja["Produto"].value_counts().head(10)  # Top 10 produtos mais vendidos
print("Produtos mais vendidos:")
print(produtos_mais_vendidos)

Produtos mais vendidos:
Produto
Micro-ondas           60
TV Led UHD 4K         60
Guarda roupas         60
Secadora de roupas    58
Cômoda                56
Blocos de montar      56
Bola de basquete      55
Bicicleta             54
Copo térmico          54
Geladeira             54
Name: count, dtype: int64

In [37]:
produtos_menos_vendidos = loja["Produto"].value_counts().tail(10)  # Últimos 10 produtos menos vendidos
print("Produtos menos vendidos:")
print(produtos_menos_vendidos)

Produtos menos vendidos:
Produto
Boneca bebê                    40
Mesa de jantar                 40
Dinossauro Rex                 40
Corda de pular                 40
Mochila                        39
Ciência de dados com python    39
Pandeiro                       36
Panela de pressão              35
Headset                        33
Celular ABXY                   33
Name: count, dtype: int64

###Por categoria

In [38]:
categorias_mais_vendidas = loja.groupby("Categoria do Produto")["Produto"].count().nlargest(5)  # Top 5 mais vendidas
print("Categorias mais vendidas:")
print(categorias_mais_vendidas)

Categorias mais vendidas:
Categoria do Produto
moveis              465
eletronicos         448
brinquedos          324
eletrodomesticos    312
esporte e lazer     284
Name: Produto, dtype: int64

In [40]:
categorias_menos_vendidas = loja.groupby("Categoria do Produto")["Produto"].count().nsmallest(5)  # Top 5 menos vendidas
print("Categorias menos vendidas:")
print(categorias_menos_vendidas)

Categorias menos vendidas:
Categoria do Produto
utilidades domesticas    171
livros                   173
instrumentos musicais    182
esporte e lazer          284
eletrodomesticos         312
Name: Produto, dtype: int64

# 5. Frete Médio por Loja

In [30]:
frete_medio_por_loja = {
    "Loja 1": loja["Frete"].mean(),
    "Loja 2": loja2["Frete"].mean(),
    "Loja 3": loja3["Frete"].mean(),
    "Loja 4": loja4["Frete"].mean(),
}

print("Frete Médio por Loja:")
for nome_loja, frete_medio in frete_medio_por_loja.items():
    print(f"{nome_loja}: R${f'{frete_medio:,.2f}'.replace(',', 'X').replace('.', ',').replace('X', '.')}")

Frete Médio por Loja:
Loja 1: R$34,69
Loja 2: R$33,62
Loja 3: R$33,07
Loja 4: R$31,28